#map {
    display: inline-block;
    border: 2px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #2c3e50; /* Couleur de fond légèrement plus foncée */
}

.tile {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #888;
    box-sizing: content-box; /* Garder les dimensions spécifiées */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); /* Légère ombre intérieure pour donner du relief */
    vertical-align: top; /* Aligner les tuiles en haut de la ligne */
}

.floor {
    background-color: #DFAF2C;
}

.wall {
    background-color: #7f8c8d; /* Couleur de mur gris légèrement plus foncé */
}

.empty {
    background-color: #fff;
}
